<div class="div">
    <div class="div1">
        <h1>WEB.</h1>
        <h1>MOBILE.</h1>
        <h1>GRAPHIC.</h1>
        <h1>MARKETING.</h1>
    </div>

    <p class="para1">website and web development solution for</p>
    <p class="para1">transforming and innovative business</p>
    <button class="btn btn-danger  button ">View case study</button>

</div>
<div class="div2">
    <div>
        <p class="divpara">WE DESIGN DIGITAL SOLUTION </p>
        <p> <span style="color:yellow" class="divpara">
                FOR BRANDS AND COMPANIES
            </span>
        </p>
    </div>

    <div class="cdiv">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <ul>
                        <li> <img src="./assets/card1.jpg" class="d-inline-block w" alt="..."></li>
                        <li><img src="./assets/card2.jpg" class="d-inline-block  w" alt="..."></li>
                        <li><img src="./assets/card3.jpg" class="d-inline-block  w" alt="..."></li>
                    </ul>

                </div>
                <div class="carousel-item">
                    <ul>
                        <li> <img src="./assets/card2.jpg" class="d-inline-block  w" alt="..."></li>
                        <li><img src="./assets/card3.jpg" class="d-inline-block w " alt="..."></li>
                        <li><img src="./assets/card4.jpg" class="d-inline-block  w" alt="..."></li>
                    </ul>

                </div>
                <ul>
                    <li> <img src="./assets/card3.jpg" class="d-inline-block  w" alt="..."></li>
                    <li><img src="./assets/card4.jpg" class="d-inline-block w " alt="..."></li>
                    <li><img src="./assets/ Sample-Business-Cards.jpg" class="d-inline-block  w" alt="..."></li>
                </ul>
            </div>
        </div>
    </div>
</div>